<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Orders</title>
</head>
<body style="margin: 0px; background-color: #222; ">

<div style="padding: 20px; background-color: white; line-height: 1.5em;">
    {% block main_content %}{% endblock %}
</div>

<footer style="color: #888; margin-top: 50px; text-align: center;">
    <div class="copyright">
        This is a demo site built during a Talk Python course.<br>
        Copyright <em>me</em>!
    </div>
</footer>

</body>
</html>